body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #444;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a.icon {
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar.responsive a.icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
