body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    background-color: #444;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px; /* Add margin to create space between links */
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-end; /* Align items to the right in column layout */
    }

    nav a {
        margin-left: 0; /* Remove left margin in the column layout */
    }
}
